
<div class="container">

    <aside>
        <div class="top">
            <div class="logo">
                <img src="assets/logoQore.png" alt="">
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">
        <a 
            routerLink="/i/dashboard"
            (click)="setActive('dashboard')" 
            [class.active]="activeOption === 'dashboard'">
            <span class="material-icons-sharp">dashboard_customize</span>
            <h3>Dashboard</h3>
        </a>

        <a 
            routerLink="/i/classes" 
            (click)="setActive('/i/classes')" 
            [class.active]="activeOption === '/i/classes'">
            <span class="material-icons-sharp">self_improvement</span>
            <h3>Mis Clases</h3>
        </a>


        <a 
            class="menu-item" 
            (click)="toggleConfig(); setActive('config')" 
            [class.active]="activeOption === 'config'">
            <span class="material-icons-sharp">settings_applications</span>
            <h3>Configuración</h3>
            <span class="material-icons-sharp arrow">
            {{ showConfig ? 'expand_less' : 'expand_more' }}
            </span>
        </a>

        <ul *ngIf="showConfig" class="submenu">

            <li>
            <a routerLink="/i/editInstructor" (click)="setActive('editInstructor')" [class.active]="activeOption === 'editInstructor'">
                <span class="material-icons-sharp">edit</span>
                <h4>Editar Perfil</h4>
            </a>
            </li>
        </ul>

        <a style="cursor: pointer;" (click)="logout()">
            <span class="material-icons-sharp">logout</span>
            <h3>Cerrar Sesión</h3>
        </a>
        </div>

    </aside>

    <main>
        <router-outlet></router-outlet>
    </main> 

    <div class="right">
        <div class="top">
            <button id="menu-btn" #menuBtn>
                <span class="material-icons-sharp">menu</span>
            </button>
            <div class="profile" *ngIf="user">
                <div class="info">
                    <p>Bienvenido, <b>{{user.name}}</b></p>
                    <div class="profile-photo">
                    <img src="https://cdn.pixabay.com/photo/2017/11/10/05/46/user-2935523_1280.png" alt="">
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
