<div class="plans-container">
  <h2>Gestión de Planes</h2>
  <button class="btn-open" (click)="openModal()"><i class="fa fa-plus-square"></i> Crear Plan</button>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Disciplinas</th>
        <th>Descripción</th>
        <th>Sesiones</th>
        <th>Duración</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plan of plans">
        <td>{{ plan.name }}</td>
        <td>
            <span *ngFor="let d of plan.discipline_id">
                {{ getDisciplineName(d) }}
            </span>
        </td>
        <td>{{ plan.description }}</td>
        <td>{{ plan.sessions }}</td>
        <td>{{ plan.duration }} días</td>
        <td>S/ {{ plan.price }}</td>
        <td>
          <div class="modal-actions">
            <button class="icon" (click)="openModal(plan)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="icon" (click)="deletePlan(plan.id)"><i class="fa-solid fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <h2>{{ isEdit ? 'Editar Plan' : 'Nuevo Plan' }}</h2>

    <form (ngSubmit)="savePlan()">
      <div class="info">
        <div>
          <label>Nombre</label>
          <input type="text" [(ngModel)]="currentPlan.name" name="name" required />
        </div>
        
        <div>
          <label>Descripción</label>
          <textarea [(ngModel)]="currentPlan.description" name="description"></textarea>
        </div>
      
        <div>
          <label>Sesiones</label>
          <input type="number" [(ngModel)]="currentPlan.sessions" name="sessions" />
        </div>

        <div>
          <label>Duración (días)</label>
          <input type="number" [(ngModel)]="currentPlan.duration" name="duration" />
        </div>

        <div>
          <label>Precio</label>
          <input type="number" step="0.01" [(ngModel)]="currentPlan.price" name="price" />
        </div>

        <div>
          <label>Método de Pago</label>
          <input type="text" [(ngModel)]="currentPlan.payMethod" name="payMethod" />
        </div>

        <div>
          <label>Tipo de Venta</label>
          <input type="text" [(ngModel)]="currentPlan.sellType" name="sellType" />
        </div>

        <div>
          <label>Reprogramaciones</label>
          <input type="number" [(ngModel)]="currentPlan.reprograms" name="reprograms" />
        </div>

        <div>
          <label>Disciplinas</label>
          <div class="disciplines-list">
            <div class="checkdiv" *ngFor="let d of disciplines">
              <input type="checkbox"
                    [checked]="currentPlan.discipline_id.includes(d.id!)"
                    (change)="toggleDiscipline(d.id!)"
                    [id]="'discipline-' + d.id"
                    name="disciplines" />
              <label [for]="'discipline-' + d.id">{{ d.name }}</label>
            </div>
          </div>
        </div>

        <div class="checkdiv">
          <label for="active">Activo</label>
          <input type="checkbox" [(ngModel)]="currentPlan.active" id="active" name="active" />
        </div>

      </div>

      <div class="modal-actions">
        <button class="btn-primary" type="submit">Registrar</button>
        <button class="btn-secondary" type="button" (click)="closeModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>