<div class="clases-container">
  <div class="header">
    <h2>Clases</h2>
    <h3><span>Nota:</span> La reprogramación que incluye el paquete, se realiza mínimo con 12 horas de anticipación.
    </h3>
  </div>

  <div class="calendar-view-container">

    <div class="calendar-header">
      <div class="week-navigation">
        <button class="nav-arrow" (click)="previousWeek()">&lt;</button>
        <h4>{{ getWeekTitle() }}</h4>
        <button class="nav-arrow" (click)="nextWeek()">&gt;</button>
      </div>
      <div class="filters">
        <input type="text" placeholder="Buscar por nombre..." [(ngModel)]="searchText" (input)="applyFilters()">

        <select [(ngModel)]="selectedDisciplineId" (change)="applyFilters()">
          <option [ngValue]="null">Todas las Disciplinas</option>

          <option *ngFor="let discipline of disciplines" [ngValue]="discipline.id">
            {{ discipline.name }}
          </option>
        </select>

        <select [(ngModel)]="selectedInstructorId" (change)="applyFilters()">
          <option [ngValue]="null">Todos los Instructores</option>

          <option *ngFor="let instructor of instructors" [ngValue]="instructor.id">
            {{ instructor.name }}
          </option>
        </select>

        <button class="btn-clear" (click)="clearFilters()">LIMPIAR</button>
      </div>
    </div>

    <div class="week-grid">
      <div *ngFor="let day of weekDays" class="day-column">
        <div class="day-header">
          {{ day | date:'E d/M' | uppercase }}
        </div>
        <div class="classes-list">
          <div *ngFor="let clase of getClassesForDay(day)" class="class-card" (click)="
       !clase.joined && 
       clase.estado !== 'DICTADA' && 
       openJoinModal(clase)
     " [class.joined]="clase.joined" [class.dictada]="clase.estado === 'DICTADA'">

            <div class="class-title">{{ clase.name }}</div>
            <div class="class-instructor">{{ getInstructorName(clase.instructorId) }}</div>
            <div class="class-details">
              <span>{{ clase.startTime }}</span>
              <span>-{{ clase.endTime }}</span>

            </div>
            <span class="estado" [class.dictada-text]="clase.estado === 'DICTADA'">
              {{ clase.estado }}
            </span>
            <div class="class-occupancy">
              <i class="fa-solid fa-user-group"></i>
              <span [class.full]="(clase.clientIds?.length || 0) === clase.capacity" [class.almost-full]="
        (clase.clientIds?.length || 0) >= clase.capacity * 0.8 &&
        (clase.clientIds?.length || 0) < clase.capacity
      ">
                {{ clase.clientIds?.length || 0 }}/{{ clase.capacity }}
              </span>
            </div>

            <!-- Mensaje INSCRITO -->
            <div *ngIf="clase.joined" class="badge-inscrito">
              INSCRITO
            </div>

            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación -->
<div class="modalconfirm" [class.show]="confirmJoinModal">
  <div class="modal-content">
    <h3>¿Quieres unirte a esta clase?</h3>
    <p>{{ selectedClass?.name }}</p>
    <p>{{ selectedClass?.startDate }}</p>
    <p>{{ selectedClass?.startTime }} - {{ selectedClass?.endTime }}</p>
    <button class="modal-button-confirm" (click)="confirmJoin()">Confirmar</button>
    <button class="modal-button" (click)="closeJoinModal()">Cancelar</button>
  </div>
</div>



<!-- Modal de mensaje -->
<div class="modalconfirm" [class.show]="messageModal">
  <div class="modal-content" [ngClass]="messageType">
    <h3>{{ messageTitle }}</h3>
    <p>{{ messageText }}</p>
    <button class="modal-button" (click)="closeMessageModal()">Cerrar</button>
  </div>
</div>

<!-- Modal de carga profesional -->
<div class="modal-loading" *ngIf="loading">
  <div class="modal-loading-content">
    <div class="spinner"></div>
    <p>Procesando tu inscripción... 🧘‍♀️</p>
  </div>
</div>

