<div class="modal-backdrop" *ngIf="showModalRecovery">
  <div class="modal">
    <h2>Reestablece tu contraseña</h2>
    <p class="recovery-text">Ingresa el correo del cual quieres recuperar su contraseña, te enviaremos un mail con un link para recuperarla.</p>

    <form #recoverForm="ngForm">
      <input
        type="email"
        placeholder="example@gmail.com"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        id="email"
        [(ngModel)]="email"
        name="email"
        #emailInput="ngModel"
        required
        />
        <p class="errorEmail" *ngIf="emailInput.invalid && emailInput.touched">
          <span *ngIf="emailInput.errors?.['pattern']">Formato de correo inválido</span>
      <div class="modal-actions">
        <button type="submit" [disabled]="recoverForm.invalid" class="btn-primary">Continuar</button>
        <button type="button" class="btn-secondary" (click)="onClose()">Cancelar</button> 
      </div>
    </form>
  </div>
</div>