<div class="container">
    <main>
        <h1>Dashboard</h1>

        <div class="insights">
            <div class="sales">
                <span class="material-icons-sharp">analytics</span>
                <div class="middle">
                    <div class="left">
                        <h3>Ingresos Mensuales</h3>
                        <h1>S/.5000</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx ='38' cy='38' r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>80%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Se reinicia cada mes</small>
            </div>

            <div class="expenses">
                <span class="material-icons-sharp">bar_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Ingresos Diarios</h3>
                        <h1>S/.230</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx ='38' cy='38' r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>80%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Se reinicia cada día</small>
            </div>

            <div class="income">
                <span class="material-icons-sharp">stacked_line_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Ingresos Semanales</h3>
                        <h1>S/.1000</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx ='38' cy='38' r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>80%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Se reinicia cada semana</small>
            </div>
        </div>

        <div class="tables-container">
            <div class="recent-orders">
                <h2>Clientes por Recuperar</h2>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                                <th>Sesiones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#">Mostrar todos</a>
            </div>

            <div class="recent-orders">
                <h2>Ultimos Clientes</h2>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                                <th>Sesiones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>test@gmail.com</td>
                                <td>999000111</td>
                                <td class="warning">6/7</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#">Mostrar todos</a>
            </div>
        </div>
    </main>

    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
            <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hola, Natalia</p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="https://cdn.pixabay.com/photo/2017/11/10/05/46/user-2935523_1280.png" alt="">
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Cumpleaños del mes!</h2>
            <div class="updates">
                <div class="update">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Teléfono</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>23/08</td>
                                <td>999000111</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>23/08</td>
                                <td>999000111</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>23/08</td>
                                <td>999000111</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>23/08</td>
                                <td>999000111</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                            <tr>
                                <td>Valeria Pilco</td>
                                <td>23/08</td>
                                <td>999000111</td>
                                <td class="primary" id="detalle">Detalle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="sales-analytics">
            <h2>Status de Clientes</h2>
            <div class="item online">
                <div class="icon">
                    <span class="material-icons-sharp">shopping_cart</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>CLIENTES ACTIVOS</h3>
                        <small class="text-muted">Últimas 24 horas</small>
                    </div>
                    <h5 class="success">+39%</h5>
                    <h3>20</h3>
                </div>
            </div>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-sharp">local_mall</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>CLIENTES INACTIVOS</h3>
                        <small class="text-muted">Últimas 24 horas</small>
                    </div>
                    <h5 class="danger">-10%</h5>
                    <h3>5</h3>
                </div>
            </div>
            <div class="item customers">
                <div class="icon">
                    <span class="material-icons-sharp">person</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>ULTIMOS CLIENTES</h3>
                        <small class="text-muted">Últimas 24 horas</small>
                    </div>
                    <h5 class="success">+6%</h5>
                    <h3>3</h3>
                </div>
            </div>
            <div class="item yogacus">
                <div class="icon">
                    <span class="material-icons-sharp">person</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>NUEVO PERSONAL</h3>
                        <small class="text-muted">Últimas 24 horas</small>
                    </div>
                    <h3>1</h3>
                </div>
            </div>
        </div>
    </div>
</div>