<div class="header">
  <div class="actions">
    <button class="btn add" (click)="openModal()">
      <i class="fa fa-plus-square"></i> Agregar colaborador
    </button>
  </div>
</div>
 
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h2>Nuevo Colaborador</h2>
    <form (ngSubmit)="registerWorker()" #registerForm="ngForm">
      <div class="user-info">
      <div>
        <label for="role">Rol:</label>
        <select id="role" [(ngModel)]="formData.roleId" name="roleId" required>
          <option value="" disabled selected>Selecciona un rol</option>
          <option *ngFor="let role of roles" value="{{role.id}}"> {{ role.name }}</option>
        </select>
      </div>
      <div *ngIf="formData.roleId == 3">   
        <label>Disciplina</label>
        <select [(ngModel)]="formData.disciplineId" name="disciplineId">
          <option *ngFor="let d of disciplines" [ngValue]="d.id">{{ d.name }}</option>
        </select>
      </div>
      <div *ngIf="formData.roleId == 4">
        <label>Área</label>
        <input type="text" [(ngModel)]="formData.area" name="area">
      </div>
      <div>
        <label>Nombre</label>
        <input type="text" [(ngModel)]="formData.name" name="name" required>
      </div>
      <div>
        <label>Apellido</label>
        <input type="text" [(ngModel)]="formData.lastName" name="lastName" required>
      </div>
      <div>
        <label>Email</label>
        <input type="email" [(ngModel)]="formData.email" name="email" required>
      </div>
      <div>
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="formData.password" name="password" required>
      </div>
      <div>
        <label>Telefono</label>
        <input
        required
        name="phoneNumber" 
        type="tel" 
        [(ngModel)]="formData.phoneNumber" 
        pattern="[0-9]{9}"
        (keypress)="allowOnlyNumbers($event)"
        #phoneNumber="ngModel">
        <div *ngIf="phoneNumber.invalid && phoneNumber.touched">El numero telefonico debe tener exactamente 9 dígitos</div>
      </div>
      <div>
        <label>Fecha de nacimiento</label>
        <input class="dateInput"
        type="date"
        name="birthday"
        required
        [(ngModel)]="formData.birthday"
        (ngModelChange)="validateBirthday()">
        <div *ngIf="birthdayError">{{ birthdayError }}</div>
      </div>
      <div>
        <label>Sexo</label>
        <select id="sex_select" [(ngModel)]="formData.sex" name="sex">
          <option value="" disabled selected>Selecciona tu sexo</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>
      <div>
        <label>Pais</label>
        <input type="text" [(ngModel)]="formData.country" name="country">
      </div>
      <div>
        <label>Ciudad</label>
        <input type="text" [(ngModel)]="formData.city" name="city">
      </div>
      <div>
        <label>Direccion</label>
        <input type="text" [(ngModel)]="formData.address" name="address">
      </div>
      <div>
        <label>DNI</label>
        <input type="tel"
        required
        name="dni"
        [(ngModel)]="formData.dni"
        pattern="[0-9]{8}"
        (keypress)="allowOnlyNumbers($event)"
        #dni="ngModel">
        <div *ngIf="dni.invalid && dni.touched">El DNI debe tener exactamente 8 dígitos</div>
        <div *ngIf="dniError">{{ dniError }}</div>
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="registerbtn" [disabled]="registerForm.invalid">Registrar</button>
      <button class="cancelbtn" (click)="closeModal()">Cancelar</button>
    </div>
    </form>   
  </div>
</div>

<div class="cards-container">
  <div class="role-card" *ngFor="let role of personal | keyvalue" [ngClass]="role.key.toLowerCase()">
    <div class="role-header">
      <h2>{{ role.key }}</h2>     
    </div>

<table class="clients-table">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of role.value">
        <td>{{ user.dni }}</td>
        <td>{{ user.name }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td class="actions">
          <span class="icon" ><i class="fa-solid fa-pen-to-square"></i></span>
          <span class="icon delete" ><i class="fa-solid fa-trash"></i></span>
          <span class="icon info" ><i class="fa fa-info-circle"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<!-- (click)="openEditModal(client)"
(click)="deleteClient(client.dni)" -->