<div class="header">
  <div class="actions">
    <button class="btn add" (click)="openModal()">
      <i class="fa fa-plus-square"></i> Agregar colaborador
    </button>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h2 class="princ-text" *ngIf="!edicion">Nuevo Colaborador</h2>
    <h2 class="princ-text" *ngIf="edicion">Actualizar Colaborador</h2>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="user-info">
      <div class="select-container">
        <label for="role">Rol*</label>
        <select id="role" [(ngModel)]="formData.role!.id" name="roleId" required>
          <option [ngValue]="0" disabled selected>Selecciona un rol</option>
          <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.name }}</option>
        </select>
      </div>
      <div *ngIf="formData.role?.id == 3">   
        <label for="discipline" class="block text-sm font-semibold text-gray-700 mb-2">
          Disciplinas*
        </label>
        <ng-select
          class="custom-ng-select"
          [items]="disciplines"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="formData.disciplineId"
          [multiple]="true"
          [closeOnSelect]="false"
          [placeholder]="formData.disciplineId?.length ? '' : 'Selecciona disciplinas'"
          name="disciplineId"
          required>
        </ng-select>
      </div>
      <div *ngIf="formData.role?.id == 4">
        <label>Área</label>
        <input type="text" [(ngModel)]="formData.area" name="area">
      </div>
      <div>
        <label>Nombre*</label>
        <input type="text" [(ngModel)]="formData.name" name="name" required>
      </div>
      <div>
        <label>Apellido*</label>
        <input type="text" [(ngModel)]="formData.lastName" name="lastName" required>
      </div>
      <div>
        <label>Email*</label>
        <input
        type="email"
        [(ngModel)]="formData.email"
        name="email"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #emailInput="ngModel"
        required>
        <p class="error" *ngIf="emailInput.invalid && emailInput.touched">
          <span *ngIf="emailInput.errors?.['pattern']">Formato de correo inválido</span>
        </p>
      </div>
      <div *ngIf="!edicion">
        <label>Contraseña*</label>
        <input type="password" [(ngModel)]="formData.password" name="password" required>
      </div>
      <div>
        <label>Telefono*</label>
        <input
        required
        name="phoneNumber" 
        type="tel" 
        [(ngModel)]="formData.phoneNumber" 
        pattern="[0-9]{9}"
        (keypress)="allowOnlyNumbers($event)"
        #phoneNumber="ngModel">
        <div class="error" *ngIf="phoneNumber.invalid && phoneNumber.touched">El numero telefonico debe tener exactamente 9 dígitos</div>
      </div>
      <div>
        <label>DNI*</label>
        <input type="tel"
        required
        name="dni"
        [(ngModel)]="formData.dni"
        pattern="[0-9]{8}"
        (keypress)="allowOnlyNumbers($event)"
        #dni="ngModel">
        <div class="error" *ngIf="dni.invalid && dni.touched">El DNI debe tener exactamente 8 dígitos</div>
        <div *ngIf="dniError">{{ dniError }}</div>
      </div>
      <div>
        <label>Fecha de nacimiento*</label>
        <input class="dateInput"
        type="date"
        name="birthday"
        required
        [(ngModel)]="formData.birthday"
        (ngModelChange)="validateBirthday()">
        <div class="error" *ngIf="birthdayError">{{ birthdayError }}</div>
      </div>
      <div>
        <label>Sexo*</label>
        <select id="sex_select" [(ngModel)]="formData.sex" name="sex" required>
          <option value="" disabled selected>Selecciona tu sexo</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>
      <div>
        <label>País</label>
        <input type="text" [(ngModel)]="formData.country" name="country">
      </div>
      <div>
        <label>Ciudad</label>
        <input type="text" [(ngModel)]="formData.city" name="city">
      </div>
      <div>
        <label>Dirección</label>
        <input type="text" [(ngModel)]="formData.address" name="address">
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="registerbtn" [disabled]="registerForm.invalid">Registrar</button>
      <button type="button" class="cancelbtn" (click)="closeModal()">Cancelar</button>
    </div>
    <p class="error" *ngIf="error">{{ error }}</p>
    </form>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showModalView">
  <div class="modal">
    <div class="header">
      <h2 class="princ-text">Mi Colaborador</h2>
      <div class="iconClose" (click)="closeModalView()" aria-label="Cerrar"><i class="fa fa-close"></i></div>
    </div>
    <div>
      <div class="user-info">
      <div *ngIf="formData.role?.id == 3">   
        <label for="discipline" class="block text-sm font-semibold text-gray-700 mb-2">
          Disciplinas
        </label>
        <ng-select
          class="custom-ng-select"
          [items]="disciplines"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="formData.disciplineId"
          [multiple]="true"
          [closeOnSelect]="false"
          name="disciplineId"
          required>
        </ng-select>
      </div>
      <div *ngIf="formData.role?.id == 4">
        <label>Área</label>
        <input type="text" [(ngModel)]="formData.area" name="area">
      </div>
      <div>
        <label>Nombre</label>
        <input type="text" [(ngModel)]="formData.name" name="name" required>
      </div>
      <div>
        <label>Apellido</label>
        <input type="text" [(ngModel)]="formData.lastName" name="lastName" required>
      </div>
      <div>
        <label>Email</label>
        <input
        type="email"
        [(ngModel)]="formData.email"
        name="email"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #emailInput="ngModel"
        required>
      </div>
      <div>
        <label>Telefono</label>
        <input
        required
        name="phoneNumber" 
        type="tel" 
        [(ngModel)]="formData.phoneNumber" 
        pattern="[0-9]{9}"
        (keypress)="allowOnlyNumbers($event)"
        #phoneNumber="ngModel">
        <div class="error" *ngIf="phoneNumber.invalid && phoneNumber.touched">El numero telefonico debe tener exactamente 9 dígitos</div>
      </div>
      <div>
        <label>DNI</label>
        <input type="tel"
        required
        name="dni"
        [(ngModel)]="formData.dni"
        pattern="[0-9]{8}"
        (keypress)="allowOnlyNumbers($event)"
        #dni="ngModel">
        <div class="error" *ngIf="dni.invalid && dni.touched">El DNI debe tener exactamente 8 dígitos</div>
        <div *ngIf="dniError">{{ dniError }}</div>
      </div>
      <div>
        <label>Fecha de nacimiento</label>
        <input class="dateInput"
        type="date"
        name="birthday"
        required
        [(ngModel)]="formData.birthday"
        (ngModelChange)="validateBirthday()">
        <div class="error" *ngIf="birthdayError">{{ birthdayError }}</div>
      </div>
      <div>
        <label>Sexo</label>
        <select id="sex_select" [(ngModel)]="formData.sex" name="sex" required>
          <option value="" disabled selected>Selecciona tu sexo</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>
      <div>
        <label>País</label>
        <input type="text" [(ngModel)]="formData.country" name="country">
      </div>
      <div>
        <label>Ciudad</label>
        <input type="text" [(ngModel)]="formData.city" name="city">
      </div>
      <div>
        <label>Dirección</label>
        <input type="text" [(ngModel)]="formData.address" name="address">
      </div>
    </div>
  </div>
  </div>
</div>

<div class="cards-container">
  <div class="role-card" *ngFor="let role of personal | keyvalue" [ngClass]="role.key.toLowerCase()">
    <div class="role-header">
      <h2>{{ role.key }}</h2>     
    </div>

<table class="clients-table">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="encabezado-tabla" *ngFor="let user of role.value">
        <td>{{ user.dni }}</td>
        <td>{{ user.name }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td class="actions">
          <span class="icon edit" (click)="openEditModal(user)" ><i class="fa-solid fa-pen-to-square"></i></span>
          <span class="icon delete" (click)="deleteWorker(user.id)" ><i class="fa-solid fa-trash"></i></span>
          <span class="icon info" (click)="openViewModal(user)" ><i class="fa fa-info-circle"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<!-- (click)="openEditModal(client)"
(click)="deleteClient(client.dni)" -->