<div class="clases-container">
  <div class="header">
    <h2>Clases</h2>
  </div>
    <div class="calendar-view-container">

    <div class="calendar-header">
      <div class="week-navigation">
        <button class="nav-arrow" (click)="previousWeek()">&lt;</button>
        <h4>{{ getWeekTitle() }}</h4>
        <button class="nav-arrow" (click)="nextWeek()">&gt;</button>
      </div>
      <div class="filters">
        <input 
          type="text" 
          placeholder="Buscar por nombre..."
          [(ngModel)]="searchText"
          (input)="applyFilters()">

        <select [(ngModel)]="selectedDisciplineId" (change)="applyFilters()">
          <option [ngValue]="null">Todas las Disciplinas</option>

          <option *ngFor="let discipline of disciplines" [ngValue]="discipline.id">
            {{ discipline.name }}
          </option>
        </select>

        <button class="btn-clear" (click)="clearFilters()">LIMPIAR</button>
      </div>
    </div>

    <div class="week-grid">
      <div *ngFor="let day of weekDays" class="day-column">
        <div class="day-header">
          {{ day | date:'E d/M' | uppercase }} 
        </div>
        <div class="classes-list">
          <div *ngFor="let clase of getClassesForDay(day)" class="class-card" >
            <div class="class-title">{{ clase.name }}</div>
            <div class="class-instructor">{{ getInstructorName(clase.instructorId) }}</div> 
            <div class="class-details">
              <span>{{ clase.startTime }}</span>
              <span>{{ clase.endTime }}</span>
            </div>
            <div>
              <span>{{clase.estado}}</span>
            </div>
            <div class="class-occupancy">
              <i class="fa-solid fa-user-group"></i>
              <span 
                [class.full]="(clase.clientIds?.length || 0) === clase.capacity"
                [class.almost-full]="
                  (clase.clientIds?.length || 0) >= clase.capacity * 0.8 &&
                  (clase.clientIds?.length || 0) < clase.capacity
                "
              >
                {{ clase.clientIds?.length || 0 }}/{{ clase.capacity }}
              </span>

              <button class="icon-btn" *ngIf="clase.estado === 'DICTADA'" (click)="openModal(clase)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h3>Agregar comentario a {{ selectedClass?.name }}</h3>
    <textarea [(ngModel)]="comentario" rows="4"></textarea>
    <div class="actions">
      <button (click)="saveComentario()">Guardar</button>
      <button (click)="showModal=false">Cancelar</button>
    </div>
  </div>
</div>