<div class="html-container">
  <section class="hero">
    <nav class="navbar">
      <div class="logo"><a routerLink="/home"><img src="assets/logoQore.png"alt=""></a></div>
      <ul class="nav-links">
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#paquetes">Paquetes</a></li>
        <li><a href="#testimonios">Testimonios</a></li>
        <li><a href="#articulos">Artículos</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
      <a href="#" class="btn-join" routerLink="/login">Ingresar</a>
    </nav>

    <div class="hero-content">
      <div class="text-content">
        <h1><br><span>Pilates </span>no es Solo Ejercicio<br>Es un Estilo<span> de Vida</span></h1>
        <div class="buttons">
          <a routerLink="/login" class="btn-started">Únete a Nosotros</a>
        </div>
      </div>
    </div>
  </section>

  <section class="about" id="nosotros">
    <div class="about-container">

      <!-- Imagenes -->
      <div class="about-images">
        <div class="img-card img1"><img src="assets/section-about-us/new1.jpg" alt="Meditation"></div>
        <div class="img-card img2"><img src="assets/section-about-us/new2.jpg" alt="Yoga pose"></div>
        <div class="img-card img3"><img src="assets/section-about-us/new3.jpg" alt="Beach yoga"></div>
      </div>

      <!-- Texto -->
      <div class="about-text">
        <h5>Sobre Nosotros</h5>
        <h2>En Qore Wellness Lab nos enfocamos en trabajar para tu bienestar</h2>
        <p>Este es un párrafo de ejemplo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique. Duis cursus,
          mi quis viverra ornare, eros dolor interdum nulla, ut commodo
          diam libero vitae erat. Aenean faucibus nibh et justo cursus id
          rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
      </div>

    </div>
  </section>

  <section class="mission">
    <div class="mission-container">


      <div class="mission-text">
        <h5>Misión</h5>
        <h2>Mejoramos tu bienestar mediante la práctica de Pilates</h2>
        <p>Reconectamos con tu cuerpo desde el amor proio. Tu progreso se mide en bienestar, no en tallas. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique. Duis cursus,
          mi quis viverra ornare, eros dolor interdum nulla, ut commodo
          diam libero vitae erat. Aenean faucibus nib.</p>
      </div>


      <div class="mission-image">
        <img src="assets/section-mission/mision.jpeg" alt="Our Mission">
      </div>

    </div>
  </section>

  <section class="programs" id="paquetes">
    <div class="programs-header">
      <p class="subtitle">Nuestros Paquetes Grupales</p>
      <h2>Reserva tu clase de evaluación y empieza ya!</h2>
      <p class="description">
        Con el objetivo de analizar y ofrecer el mejor servicio posible a nuestros clientes, cada paquete requiere de una clase de evaluación previa. 
      </p>
    </div>

    <div class="programs-cards">
      <div class="card" *ngFor="let plan of plans | slice:0:4">
        <div class="icon">S/{{plan.price}}</div>
        <h3>{{plan.name}}</h3>
        <ul class="desc-list">
          <li *ngFor="let item of plan.description.split('\n')"><i class="far fa-check-circle" aria-hidden="true"></i>{{ item }}</li>
        </ul>
        <a routerLink="/login" class="btn">Comprar</a>
      </div>
    </div>
    <div class="evatext">
      <h3>La clase de evaluación tiene un costo de S/60</h3>
    </div>
    <div class="programs-header">
      <p class="subtitle">Nuestros Paquetes Privados</p>
    </div>
    <div class="programs-cards" style="padding-top: 50px;">
      <div class="card" *ngFor="let plan of plans | slice:4:7">
        <div class="icon">S/{{plan.price}}</div>
        <h3>{{plan.name}}</h3>
        <ul class="desc-list">
          <li *ngFor="let item of plan.description.split('\n')"><i class="far fa-check-circle" aria-hidden="true"></i>{{ item }}</li>
        </ul>
        <a href="#" class="btn">Comprar</a>
      </div> 
    </div>
  </section>


  <section class="testimonials" id="testimonios">
    <div class="testimonials-container">

      <div class="testimonials-info">
        <p class="subtitle">Conoce lo que nuestros clientes dicen</p>
        <h2>Testimonios</h2>
        <p class="description">
          Tu opinión nos importa. <br>Nos adaptamos a tu ritmo para lograr tus objetivos.
        </p>
        <div class="buttons">
          <a class="btn-primary" routerLink="/login">Únete Ahora</a>
        </div>
      </div>

      <div class="testimonials-slider">
        <div class="slider-wrapper">
          <div class="slide" *ngFor="let testimonial of testimonials; let i = index"
            [class.active]="i === currentIndex">
            <p>{{ testimonial.text }}</p>
            <div class="author">

              <div>
                <h4>{{ testimonial.name }}</h4>
                <span>{{ testimonial.role }}</span>
              </div>
            </div>
          </div>
        </div>

        <button class="slider-btn prev" (click)="prevSlide()">&#10094;</button>
        <button class="slider-btn next" (click)="nextSlide()">&#10095;</button>
      </div>

    </div>
  </section>


  <section class="articles" id="articulos">
    <div class="articles-header">
      <div>
        <span class="subtitle">Artículos</span>
        <h2>Bienestar y Pilates</h2>
        <p>Un espacio para inspirar tu práctica y tu autocuidado. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nam reiciendis alias ad ipsam.
        </p>
      </div>
    </div>

    <div class="articles-grid">
      <article class="card-article">
        <img src="assets/section-article/article1.jpeg" alt="">
        <div class="card-body">
          <h3>La importancia de la hidratación en tu práctica de Pilates</h3>
          <p>Durante una clase de Pilates, aunque no transpiremos tanto como en disciplinas más
            intensas, igualmente se pierde agua a través de la respiración y la sudoración. Una
            deshidratación leve puede provocar fatiga, falta de concentración, calambres musculares
            o dolor de cabeza.</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article2.png" alt="">
        <div class="card-body">
          <h3>Recomendaciones simples para no caer en comidas pesadas antes y después de Pilates</h3>
          <p>Una alimentación ligera y consciente es la clave para que tu cuerpo se sienta con energía,
          sin pesadez y con mayor capacidad de movimiento. En Pilates, donde la precisión y la
          respiración son fundamentales, comer en exceso puede jugar en contra.</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article3.JPG" alt="">
        <div class="card-body">
          <h3>Suplementos que pueden potenciar tu práctica de Pilates</h3>
          <p> Muchas personas se preguntan si necesitan suplementos para mejorar su bienestar y
          rendimiento en Pilates. La realidad es que los suplementos no sustituyen una
          alimentación equilibrada, pero sí pueden ser un apoyo interesante en ciertas etapas de la
          vida o cuando la demanda física es mayor.</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article4.jpeg" alt="">
        <div class="card-body">
          <h3>Cómo contribuyen al bienestar articular, energía y recuperación muscular</h3>
          <p> El bienestar articular y muscular es fundamental para practicar Pilates con comodidad y
          continuidad. Esta disciplina fortalece músculos profundos, mejora la postura y aumenta la
          movilidad. Sin embargo, más allá del ejercicio, la nutrición y el estilo de vida juegan un
          papel crucial.</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article5.jpeg" alt="">
        <div class="card-body">
          <h3>Medias antideslizantes o barefoot en Pilates: pros y contras</h3>
          <p> Las medias antideslizantes ofrecen seguridad extra, evitan resbalones y brindan
          protección contra el frío. Son ideales para quienes recién
          empiezan o prefieren sentirse más cubiertos. En Qore Wellness Lab apoyamos la práctica barefoot porque creemos que conecta mejor
          con la esencia del Pilates.</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article6.jpeg" alt="">
        <div class="card-body">
          <h3>Estilo que motiva: cómo elegir tu ropa para Pilates</h3>
          <p>La ropa deportiva no solo cumple una función estética, también influye en la motivación y
          el desempeño durante tu práctica de Pilates. En Pilates, recomendamos prendas ajustadas o enterizos. Este tipo de ropa permite
          observar la postura con claridad, facilita las correcciones del instructor y evita que las
          telas se enreden o incomoden en los aparatos.</p>
        </div>
      </article>
    </div>
  </section>

  <section class="faq" id="faq">
    <div class="faq-header">
      <span class="subtitle">FAQ</span>
      <h2>Preguntas Frecuentes</h2>
      <p>
        Algunos de los temas que más preguntan antes de unirse a nosotros.
      </p>
    </div>

    <div class="faq-grid">
      <div class="faq-item" *ngFor="let faq of faqs; let i = index" [class.active]="faq.open">
        <button class="faq-question" (click)="toggleFaq(i)">
          <span>{{ faq.question }}</span>
          <span class="icon">{{ faq.open ? '×' : '+' }}</span>
        </button>
        <div class="faq-answer">
          <p>{{ faq.answer }}</p>
        </div>
      </div>
    </div>
  </section>


  <section class="footer" id="footer">
            <div class="footer-container">
                <div class="footer-col col-contacto">
                    <h3 data-i18n="footer.contact.title">Contacto</h3>
                    <p><i class="fa-solid fa-phone"></i><span data-i18n="footer.contact.phone"> +51 957 718 273</span></p>
                    <p id="mailfooter"><i class="fa-solid fa-envelope"></i><a id="mailfooter" href="mailto:ventas@postealab.com"><span data-i18n="footer.contact.email"> qorewellnesslab@gmail.com</span> </a></p>
                    <p id="perulocs"><i class="fa-solid fa-location-dot"></i><span data-i18n="footer.contact.location">Los Granados 551, Urb. California
<br>Víctor Larco Herrera Trujillo, Perú</span></p>
                </div>

                <div class="footer-col col-navegacion">
                <h3 data-i18n="footer.explore.title">Explora</h3>
                <ul>
                    <li><i class="fas fa-angle-right"></i><a href="#nosotros" data-i18n="footer.explore.about">Nosotros</a></li>
                    <li><i class="fas fa-angle-right"></i><a href="#paquetes" data-i18n="footer.explore.services">Paquetes</a></li>
                    <li><i class="fas fa-angle-right"></i><a href="#testimonios" data-i18n="footer.explore.portfolio">Testimonios</a></li>
                    <li><i class="fas fa-angle-right"></i><a href="#articulos" data-i18n="footer.explore.portfolio">Artículos</a></li>
                    <li><i class="fas fa-angle-right"></i><a target="_blank" href="https://api.whatsapp.com/send?phone=51&text=Hola,%20me%20gustaria%20Obtener%20m%C3%A1s%20informaci%C3%B3n" data-i18n="footer.explore.contact">Contacto</a></li>
                </ul>
                </div>

                <div class="footer-col col-blog">
                    <h3 data-i18n="footer.social.title">Redes Sociales</h3>
                    <div class="footer-social">
                        <a href="https://www.instagram.com/qore.pe/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=61560639582216#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.tiktok.com/@qore.wellness.lab" target="_blank"><i class="fab fa-tiktok"></i></a>
                    </div>                  
                </div>
            </div>

            <div class="footer-bottom">
                <hr/>
                <p data-i18n="footer.bottom">©2025 Qore Wellness Lab - Todos los derechos reservados</p>
            </div>
        </section>
</div>
