<a href="https://api.whatsapp.com/send?phone=51957718273&text=Hola,%20me%20gustaria%20obtener%20m%C3%A1s%20informaci%C3%B3n" class="float push" target="_blank">
            <i class="fa-brands fa-whatsapp my-float"></i>
</a>
<div class="html-container">
  <section class="hero">
    <nav class="navbar">
      <div class="logo"><a routerLink="/home"><img src="assets/logoQore.png"alt=""></a></div>
      <ul class="nav-links">
        <li><a href="#nosotros">{{ 'NAV.NOSOTROS' | translate }}</a></li>
        <li><a href="#paquetes">{{ 'NAV.PAQUETES' | translate }}</a></li>
        <li><a href="#testimonios">{{ 'NAV.TESTIMONIOS' | translate }}</a></li>
        <li><a href="#articulos">{{ 'NAV.ARTICULOS' | translate }}</a></li>
        <li><a href="#faq">{{ 'NAV.FAQ' | translate }}</a></li>
        
      </ul>
      <div class="buttonnav">
        <a href="#" class="btn-join" routerLink="/login">{{ 'NAV.INGRESAR' | translate }}</a>
      <button (click)="toggleLanguage()" class="lang" id="lang-toggle">
                <img [src]="currentFlag" alt="English" />
                {{ 'NAV.IDIOMA' | translate }}
        </button>
      </div>
      
    </nav>

    <div class="hero-content">
      <div class="text-content">
        <h1>
          <br>
          <span>{{ 'HERO.TITLE_PART1' | translate }}</span>
          {{ 'HERO.TITLE_PART2' | translate }}
          <br>
          {{ 'HERO.TITLE_PART3' | translate }}
          <span>{{ 'HERO.TITLE_PART4' | translate }}</span>
        </h1>
        <div class="buttons">
          <a routerLink="/login" class="btn-started">{{ 'HERO.JOIN_US' | translate }}</a>
        </div>
      </div>
    </div>

  </section>

  <section class="about" id="nosotros">
    <div class="about-container">

      <!-- Imagenes -->
      <div class="about-images">
        <div class="img-card img1"><img src="assets/section-about-us/about3.jpg"></div>
        <div class="img-card img2"><img src="assets/section-about-us/about1.JPG"></div>
        <div class="img-card img3"><img src="assets/section-about-us/about2.JPG"></div>
      </div>

      <!-- Texto -->
      <div class="about-text">
        <h5>{{ 'ABOUT.SUBTITLE' | translate }}</h5>
        <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
        <p>{{ 'ABOUT.DESCRIPTION' | translate }}</p>
      </div>

    </div>
  </section>

  <section class="mission">
    <div class="mission-container">
      <div class="mission-text">
        <h5>{{ 'MISSION.SUBTITLE' | translate }}</h5>
        <h2>{{ 'MISSION.TITLE' | translate }}</h2>
        <p [innerHTML]="'MISSION.DESCRIPTION' | translate"></p>
      </div>


      <div class="mission-image">
        <img src="assets/section-mission/mision.jpeg" alt="Our Mission">
      </div>

    </div>

    <div class="text-valores">
      <h2>{{ 'VALUES.TITLE' | translate }}</h2>
    </div>  
      <div class="barra"  id="sobre-nosotros">
        <div class="barra-container"> 
            <div class="columna">
              
              <div class="columna-texto">
                <div class="hijo1">
                    <img src="assets/section-mission/human.png" alt="">
                </div>
                <div class="hijo2">
                  <span>{{ 'VALUES.MOVEMENT' | translate }}</span>
                </div>
              </div>
            </div>

            <div class="columna" id="product-counter">
              
              <div class="columna-texto">
                <div class="hijo1">
                  <img src="assets/section-mission/balcony.png" alt="">
                </div>  
                <div class="hijo2">
                  <span>{{ 'VALUES.SUPPORT' | translate }}</span>
                </div>
              </div>          
            </div>

            <div class="columna">
              
              <div class="columna-texto">
                <div class="hijo1">
                  <img src="assets/section-mission/balance.png" alt="">
                </div>       
                <div class="hijo2">
                  <span>{{ 'VALUES.CONSISTENCY' | translate }}</span>
                </div>
              </div>        
            </div>
            
            <div class="columna">
              
              <div class="columna-texto">
                <div class="hijo1">
                  <img src="assets/section-mission/quality-of-life.png" alt="">
                </div>
            
                <div class="hijo2">
                  <span>{{ 'VALUES.WELLNESS' | translate }}</span>
                </div>
              </div>
            </div>
        </div>
      </div>
  </section>

  <section class="programs" id="paquetes">
    <div class="programs-header">
      <p class="subtitle">{{ 'PACKAGES.SUBTITLE' | translate }}</p>
      <h2>{{ 'PACKAGES.TITLE' | translate }}</h2>
      <p class="description">{{ 'PACKAGES.DESCRIPTION' | translate }}</p>
    </div>


    <div class="programs-cards">
      <div class="card" *ngFor="let plan of plans | slice:0:4">
        <div class="icon">S/{{plan.price}}</div>
        <h3>{{plan.name}}</h3>
        <ul class="desc-list">
          <li *ngFor="let item of plan.description.split('\n')"><i class="far fa-check-circle" aria-hidden="true"></i>{{ item }}</li>
        </ul>
        <a routerLink="/login" class="btn">Comprar</a>
      </div>
    </div>
    <div class="evatext">
      <h3>{{ 'EVALUATION.COST' | translate }}</h3>
    </div>

    <div class="programs-header">
      <p class="subtitle">{{ 'PRIVATE_PACKAGES.SUBTITLE' | translate }}</p>
    </div>

    <div class="programs-cards" style="padding-top: 50px;">
      <div class="card" *ngFor="let plan of plans | slice:4:7">
        <div class="icon">S/{{plan.price}}</div>
        <h3>{{plan.name}}</h3>
        <ul class="desc-list">
          <li *ngFor="let item of plan.description.split('\n')"><i class="far fa-check-circle" aria-hidden="true"></i>{{ item }}</li>
        </ul>
        <a routerLink="/login" class="btn">Comprar</a>
      </div> 
    </div>
  </section>


  <section class="testimonials" id="testimonios">
    <div class="testimonials-container">

      <div class="testimonials-info">
        <p class="subtitle">{{ 'TESTIMONIALS.SUBTITLE' | translate }}</p>
        <h2>{{ 'TESTIMONIALS.TITLE' | translate }}</h2>
        <p class="description" [innerHTML]="'TESTIMONIALS.DESCRIPTION' | translate"></p>
        <div class="buttons">
          <a class="btn-primary" routerLink="/login">{{ 'TESTIMONIALS.BUTTON' | translate }}</a>
        </div>
      </div>


      <div class="testimonials-slider">
        <div class="slider-wrapper">
          <div class="slide" *ngFor="let testimonial of testimonials; let i = index"
            [class.active]="i === currentIndex">
            <p>{{ testimonial.text }}</p>
            <div class="author">

              <div>
                <h4>{{ testimonial.name }}</h4>
                <span>{{ testimonial.role }}</span>
              </div>
            </div>
          </div>
        </div>

        <button class="slider-btn prev" (click)="prevSlide()">&#10094;</button>
        <button class="slider-btn next" (click)="nextSlide()">&#10095;</button>
      </div>

    </div>
  </section>


  <section class="articles" id="articulos">
    <div class="articles-header">
      <div>
        <span class="subtitle">{{ 'ARTICLES.SUBTITLE' | translate }}</span>
        <h2>{{ 'ARTICLES.TITLE' | translate }}</h2>
        <p>{{ 'ARTICLES.DESCRIPTION' | translate }}</p>
      </div>
    </div>

    <div class="articles-grid">
      <article class="card-article">
        <img src="assets/section-article/article1.jpeg" alt="">
        <div class="card-body">
          <h3>{{ 'ARTICLESITEM.ITEM1.TITLE' | translate }}</h3>
          <p>{{ 'ARTICLESITEM.ITEM1.DESCRIPTION' | translate }}</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article2.png" alt="">
        <div class="card-body">
          <h3>{{ 'ARTICLESITEM.ITEM2.TITLE' | translate }}</h3>
          <p>{{ 'ARTICLESITEM.ITEM2.DESCRIPTION' | translate }}</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article3.JPG" alt="">
        <div class="card-body">
          <h3>{{ 'ARTICLESITEM.ITEM3.TITLE' | translate }}</h3>
          <p>{{ 'ARTICLESITEM.ITEM3.DESCRIPTION' | translate }}</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article4.jpeg" alt="">
        <div class="card-body">
          <h3>{{ 'ARTICLESITEM.ITEM4.TITLE' | translate }}</h3>
          <p>{{ 'ARTICLESITEM.ITEM4.DESCRIPTION' | translate }}</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article5.jpeg" alt="">
        <div class="card-body">
          <h3>{{ 'ARTICLESITEM.ITEM5.TITLE' | translate }}</h3>
          <p>{{ 'ARTICLESITEM.ITEM5.DESCRIPTION' | translate }}</p>
        </div>
      </article>

      <article class="card-article">
        <img src="assets/section-article/article6.jpeg" alt="">
        <div class="card-body">
          <h3>{{ 'ARTICLESITEM.ITEM6.TITLE' | translate }}</h3>
          <p>{{ 'ARTICLESITEM.ITEM6.DESCRIPTION' | translate }}</p>
        </div>
      </article>
    </div>

  </section>

<section class="faq" id="faq">
  <div class="faq-header">
    <span class="subtitle">{{ 'FAQ.SUBTITLE' | translate }}</span>
    <h2>{{ 'FAQ.TITLE' | translate }}</h2>
    <p>{{ 'FAQ.DESCRIPTION' | translate }}</p>
  </div>

  <div class="faq-grid">
    <div class="faq-item" *ngFor="let faq of faqs; let i = index" [class.active]="faqsOpen[i]">
      <button class="faq-question" (click)="toggleFaq(i)">
        <span>{{ faq.QUESTION }}</span>
        <span class="icon">{{ faqsOpen[i] ? '×' : '+' }}</span>
      </button>
      <div class="faq-answer">
        <p>{{ faq.ANSWER }}</p>
      </div>
    </div>
  </div>
</section>




 <section class="footer" id="footer">
  <div class="footer-container">

    <!-- Contacto -->
    <div class="footer-col col-contacto">
      <h3>{{ 'FOOTER.CONTACT.TITLE' | translate }}</h3>
      <p>
        <i class="fa-solid fa-phone"></i>
        <span> {{ 'FOOTER.CONTACT.PHONE' | translate }}</span>
      </p>
      <p id="mailfooter">
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:ventas@postealab.com">
          <span> {{ 'FOOTER.CONTACT.EMAIL' | translate }}</span>
        </a>
      </p>
      <p id="perulocs">
        <i class="fa-solid fa-location-dot"></i>
        <span> {{ 'FOOTER.CONTACT.LOCATION' | translate }}</span>
      </p>
    </div>

    <!-- Navegación -->
    <div class="footer-col col-navegacion">
      <h3>{{ 'FOOTER.EXPLORE.TITLE' | translate }}</h3>
      <ul>
        <li><i class="fas fa-angle-right"></i><a href="#nosotros">{{ 'FOOTER.EXPLORE.ABOUT' | translate }}</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#paquetes">{{ 'FOOTER.EXPLORE.SERVICES' | translate }}</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#testimonios">{{ 'FOOTER.EXPLORE.PORTFOLIO' | translate }}</a></li>
        <li><i class="fas fa-angle-right"></i><a href="#articulos">{{ 'FOOTER.EXPLORE.ARTICLES' | translate }}</a></li>
        <li>
          <i class="fas fa-angle-right"></i>
          <a target="_blank" href="https://api.whatsapp.com/send?phone=51&text=Hola,%20me%20gustaria%20obtener%20m%C3%A1s%20informaci%C3%B3n">
            {{ 'FOOTER.EXPLORE.CONTACT' | translate }}
          </a>
        </li>
      </ul>
    </div>


    <!-- Redes sociales -->
    <div class="footer-col col-blog">
      <h3>{{ 'FOOTER.SOCIAL.TITLE' | translate }}</h3>
      <div class="footer-social">
        <a href="https://www.instagram.com/qore.pe/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61560639582216#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/@qore.wellness.lab" target="_blank"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>

  </div>


  <!-- Footer bottom -->
  <div class="footer-bottom">
    <hr/>
    <p>{{ 'FOOTER.BOTTOM' | translate }}</p>
  </div>
</section>

</div>
