<h2 class="princ-text">Gestiona tus Clientes</h2>
<button class="btn-open" (click)="openAddModal()"><i class="fa fa-plus-square"></i> Nuevo Cliente</button>
<i class="fa-solid fa-file-excel fa-xl excel" (click)="downloadClientsExcel()"></i>
<div class="search-container">
  <input 
    type="text" 
    placeholder="Ingresa un nombre o DNI" 
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange()"
  />
</div>

 <div class="clients-table-container">
  <table class="clients-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Clase de prueba</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients | paginate: {id: 'ending', itemsPerPage: 10, currentPage: pE }">
        <td>{{ client.name }} {{ client.lastName }}</td>
        <td>{{ client.dni }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phoneNumber }}</td>
        <td>
          <label class="switch">
            <input
              type="checkbox"
              [(ngModel)]="client.trialCompleted"
              (change)="updateTrialStatus(client)"
            />
            <span class="slider round"></span>
          </label>
        </td>
        <td class="actions">
          <span class="icon" (click)="openEditModal(client)"><i class="fa-solid fa-pen-to-square"></i></span>
          <span class="icon delete" (click)="deleteClient(client.dni)"><i class="fa-solid fa-trash"></i></span>
          <span class="icon delete" (click)="openViewModal(client)" ><i class="fa fa-info-circle"></i></span>
        </td>
      </tr>
    </tbody>
    <pagination-controls id="ending" (pageChange)="pE = $event"></pagination-controls>
  </table>
</div>

    <div class="modal" [class.show]="isModalOpen">
    <div class="modal-content">

      <h2 *ngIf="!editingClient">Registrar Cliente</h2>
      <h2 *ngIf="editingClient">Editar Cliente</h2>

      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="user-info">
      <div>
        <label>Nombre*</label>
        <input type="text" [(ngModel)]="formData.name" name="name" required>
      </div>

      <div>
        <label>Apellido*</label>
        <input type="text" [(ngModel)]="formData.lastName" name="lastName" required>
      </div>

      <div>
        <label>Email*</label>
        <input
        type="email"
        [(ngModel)]="formData.email"
        name="email"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #emailInput="ngModel"
        required>
        <p class="error" *ngIf="emailInput.invalid && emailInput.touched">
          <span *ngIf="emailInput.errors?.['pattern']">Formato de correo inválido</span>
        </p>
      </div>

      <div>
        <label>DNI*</label>
        <input type="tel"
        required
        name="dni"
        [(ngModel)]="formData.dni"
        pattern="[0-9]{8}"
        (keypress)="allowOnlyNumbers($event)"
        #dni="ngModel">
        <div class="error" *ngIf="dni.invalid && dni.touched">El DNI debe tener exactamente 8 dígitos</div>
        <div *ngIf="dniError">{{ dniError }}</div>
      </div>
      
      <div>
        <label>Fecha de nacimiento*</label>
        <input class="dateInput"
        type="date"
        name="birthday"
        required
        [(ngModel)]="formData.birthday"
        (ngModelChange)="validateBirthday()">
        <div class="error" *ngIf="birthdayError">{{ birthdayError }}</div>
      </div>

      <div *ngIf="!editingClient">
        <label>Contraseña*</label>
        <input type="password" [(ngModel)]="formData.password" name="password" required>
      </div>

     <div class="form-group" *ngIf="editingClient">
      <label>Disciplinas*</label>

      <label *ngFor="let d of allDisciplines" class="checkbox-item custom-checkbox">
        <input 
          type="checkbox"
          [value]="d.id"
          [checked]="formData.disciplinesIds?.includes(d.id)"
          (change)="toggleDiscipline(d.id!, $event)"
        />
        <span class="checkmark"></span>
        {{ d.name }}
      </label>
    </div>




      <div>
        <label>Telefono*</label>
        <input
        required
        name="phoneNumber" 
        type="tel" 
        [(ngModel)]="formData.phoneNumber" 
        pattern="[0-9]{9}"
        (keypress)="allowOnlyNumbers($event)"
        #phoneNumber="ngModel">
        <div class="error" *ngIf="phoneNumber.invalid && phoneNumber.touched">El numero telefonico debe tener exactamente 9 dígitos</div>
      </div>

      <div>
        <label>Sexo*</label>
        <select id="sex_select" [(ngModel)]="formData.sex" name="sex" required>
          <option value="" disabled selected>Selecciona tu sexo</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>

      <div>
        <label>País</label>
        <input type="text" [(ngModel)]="formData.country" name="country">
      </div>

      <div>
        <label>Ciudad</label>
        <input type="text" [(ngModel)]="formData.city" name="city">
      </div>

      <div>
        <label>Dirección</label>
        <input type="text" [(ngModel)]="formData.address" name="address">
      </div>
        </div>
        
        <div class="modal-actions">
          <button type="submit" class="btn-primary" [disabled]="registerForm.invalid">{{ editingClient ? 'Actualizar' : 'Registrar' }}</button>
          <button type="button" class="btn-secondary" (click)="closeModal()">Cancelar</button>
        </div>
        
      </form>
    </div>
  </div>

    <div class="modal" [class.show]="isModalViewOpen">
    <div class="modal-content">

      <div class="header">
      <h2>Mi Cliente</h2>
      <div class="iconClose" (click)="closeViewModal()" a ria-label="Cerrar"><i class="fa fa-close"></i></div>
      </div>

      <div>
        <div class="user-info">
      <div>
        <label>Nombre</label>
        <input type="text" [(ngModel)]="formData.name" name="name" required>
      </div>

      <div>
        <label>Apellido</label>
        <input type="text" [(ngModel)]="formData.lastName" name="lastName" required>
      </div>

      <div>
        <label>Email</label>
        <input
        type="email"
        [(ngModel)]="formData.email"
        name="email"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #emailInput="ngModel"
        required>
        <p class="error" *ngIf="emailInput.invalid && emailInput.touched">
          <span *ngIf="emailInput.errors?.['pattern']">Formato de correo inválido</span>
        </p>
      </div>

      <div>
        <label>DNI</label>
        <input type="tel"
        required
        name="dni"
        [(ngModel)]="formData.dni"
        pattern="[0-9]{8}"
        (keypress)="allowOnlyNumbers($event)"
        #dni="ngModel">
        <div class="error" *ngIf="dni.invalid && dni.touched">El DNI debe tener exactamente 8 dígitos</div>
        <div *ngIf="dniError">{{ dniError }}</div>
      </div>

      <div>
        <label>Fecha de nacimiento</label>
        <input class="dateInput"
        type="date"
        name="birthday"
        required
        [(ngModel)]="formData.birthday"
        (ngModelChange)="validateBirthday()">
        <div class="error" *ngIf="birthdayError">{{ birthdayError }}</div>
      </div>

      <div>
        <label>Telefono</label>
        <input
        required
        name="phoneNumber" 
        type="tel" 
        [(ngModel)]="formData.phoneNumber" 
        pattern="[0-9]{9}"
        (keypress)="allowOnlyNumbers($event)"
        #phoneNumber="ngModel">
        <div class="error" *ngIf="phoneNumber.invalid && phoneNumber.touched">El numero telefonico debe tener exactamente 9 dígitos</div>
      </div>

      <div>
        <label>Sexo</label>
        <select id="sex_select" [(ngModel)]="formData.sex" name="sex" required>
          <option value="" disabled selected>Selecciona tu sexo</option>
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>
      </div>

      <div>
        <label>País</label>
        <input type="text" [(ngModel)]="formData.country" name="country">
      </div>

      <div>
        <label>Ciudad</label>
        <input type="text" [(ngModel)]="formData.city" name="city">
      </div>

      <div>
        <label>Dirección</label>
        <input type="text" [(ngModel)]="formData.address" name="address">
      </div>
        </div>     
      </div>
    </div>
  </div>

<div class="modal" [class.show]="isConfirmationOpen">
  <div class="modal-content confirmation" [ngClass]="confirmationType">
    <h2>{{ confirmationMessage }}</h2>
    <div class="modal-action-confirm">
      <button type="button" class="btn-primary" (click)="closeConfirmation()">Aceptar</button>
    </div>
  </div>
</div>


