<div class="roles-container">
  <h2>Gestión de Roles</h2>
  <button class="btn-open" (click)="openModal()"><i class="fa fa-plus-square"></i> Nuevo Rol</button>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Permisos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
        <td>
          <span *ngFor="let p of role.permissions">{{ p.name }} </span>
        </td>
        <td>
          <div class="modal-actions">
            <button class="icon" (click)="openModal(role)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="icon" (click)="deleteRole(role.id)"><i class="fa-solid fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <h2>{{ isEdit ? 'Editar Rol' : 'Nuevo Rol' }}</h2>

    <form (ngSubmit)="saveRole()">

      <div class="form-grid">
        <div class="form-group">
          <label for="role-name">Nombre</label>
          <input type="text" id="role-name" [(ngModel)]="currentRole.name" name="name" required />
        </div>

        <div class="form-group">
          <label for="role-description">Descripción</label>
          <input type="text" id="role-description" [(ngModel)]="currentRole.description" name="description" />
        </div>
          
        <div class="form-group">
          <label>Permisos</label>
          <div class="permissions-list">
            <div class="checkdiv" *ngFor="let p of permissions">
              <input type="checkbox"
                    [checked]="currentRole.permissionIds.includes(p.id)"
                    (change)="togglePermission(p.id)"
                    [id]="'permission-' + p.id"
                    name="permissions" />
              <label [for]="'permission-' + p.id">{{ p.name }}</label>
            </div>
          </div>
        </div>
      
      </div>
      <div class="actions">
        <button class="btn-primary" type="submit">Registrar</button>
        <button class="btn-secondary" type="button" (click)="closeModal()">Cancelar</button>

      </div>
    </form>
  </div>
</div>
