@font-face {
    font-family: 'Mont';
    src: url(/font/Mont-Regular.ttf);
}

@font-face {
    font-family: 'MontBold';
    src: url(/font/Mont-Bold.ttf);
}

:root {
    --color-ivory: #EDE9E3;
    --color-nude: #E7D7C9;
    --color-rose: #C1978A;
    --color-stone: #CDC6C3;
    --color-gold: #877168;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --pading-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-nude)
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Mont';
    font-size: 0.88rem;
    background: var(--color-stone);
    user-select: none;
    overflow-x: hidden;
}

input[type="checkbox"] {
  appearance: auto !important;
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
  display: inline-block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}